.projectContainer {
  border: 1px;
  border-style: solid;
  border-color: darkgray;
  border-radius: 15px;
  margin: 15px;
}

.projectContainer:hover {
  background-color:ghostwhite;
}

.projectTitle {
  font-size: large;
}

.projectAuthors {
  font-size: smaller;
  color: gray;
}

.projectJournal {
  font-size: small;
  color: gray;
}

.projectInfo {
  overflow-wrap: break-word;
  padding: 15px;
}

.projectLink {
  text-decoration: none;
}

.projectList {
  margin-top: 50px;
}