/* resume.module.css */

.googleDocsIframeContainer {
  display: flex; 
  justify-content: center;
  min-height: 1250px;
  margin-top: -50px;
  width: 100%;
}

.googleDocsIframe {
  z-index:-1;
  position: absolute;
  display: flex; 
  width: 835px;
  min-height: 1250px;
}

@media only screen and (max-width: 768px) {
  .googleDocsIframeContainer {
    display: flex; 
    min-height: 1400px;
    margin-top: -250px;
    margin-bottom: -400px;
  }
  .googleDocsIframe {
    display: flex; 
    transform: scale(0.4);
    min-height: 1400px;
    margin-right: -10px;
    margin-top: -250px;
    margin-bottom: -400px;
  }
}
