/* resume.module.css */

.googleDocsIframeContainer {
  display: flex; 
  position: relative;
  justify-content: center;
  height: 1250px;
  margin-top: -50px;
  margin-bottom: -50px;
  width: 100%;
}

.googleDocsIframe {
  z-index:-1;
  position: absolute;
  display: flex; 
  width: 835px;
  height: 1250px;
}

@media only screen and (max-width: 768px) {
  .googleDocsIframeContainer {
    height: 1350px;
    margin-top: -100px;
  }
  .googleDocsIframe {
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 600px) {
  .googleDocsIframeContainer {
    height: 1200px;
    margin-top: -250px;
  }
  .googleDocsIframe {
    transform:scale(0.4);
    }
}
